body {
    background-color: black;
    margin: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.first-cat {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    visibility: hidden;
}

/* CAT INDIVIDUAL SIZES */

.first {
    width: 1100px;
    margin-left: -20em;
    visibility: unset;
}

.second {
    /* visibility: unset; */
    width: 1100px;
}

.third {
    /* visibility: unset; */
    width: 1100px;
    margin-left: -19em;
}

.fourth {
    /* visibility: unset; */
    width: 1200px;
    margin-top: -8em;
}

.fifth {
    /* visibility: unset; */
    width: 1300px;
    margin-left: -28em;
}

.sixth {
    /* visibility: unset; */
    width: 1100px;
    margin-left: -8em;
}

.seventh {
    /* visibility: unset; */
    width: 1100px;
    margin-top: -5em;
    margin-left: -3em;
}

.eighth {
    /* visibility: unset; */
    width: 1200px;
    margin-left: -10em;
}

.ninth {
    /* visibility: unset; */
    width: 1300px;
    margin-left: -19em;
}

.tenth {
    /* visibility: unset; */
    width: 1200px;
    margin-top: -2em;
}

.eleventh {
    /* visibility: unset; */
    width: 1100px;
    margin-left: -19em;
    margin-top: -5em;
}

.twelfth {
    /* visibility: unset; */
    width: 1300px;
    margin-left: -10em;
}

.thirteenth {
    /* visibility: unset; */
    height: 1000px;
    width: 700px;
    margin-top: 7em;
    margin-left: 2em;
}

.fourteenth {
    /* visibility: unset; */
    width: 1500px;
    margin-top: -2em;
}

.fifteenth {
    /* visibility: unset; */
    width: 1200px;
    margin-left: -20em;
}

.oopy {
    /* visibility: unset; */
    width: 1100px;
    margin-left: -3em;
}

/* CHAT BUBBLES */

.chat-bubbles {
    position: relative;
    width: auto;
    height: auto;
    z-index: 1000;
}

.chat-bubbles img {
    display: block;
    height: 500px;
    width: 500px;
}

.one {
    visibility: visible;
    margin-top: -50em;
    margin-left: 9em;
    transform: scaleX(-1);
}

.two {
    visibility: hidden;
}

.three {
    visibility: hidden;
}

.four {
    visibility: hidden;
}

.five {
    visibility: hidden;
}

.six {
    visibility: hidden;
}

.seven {
    /* visibility: hidden; */
}

.eight {
    visibility: hidden;
}

.nine {
    visibility: hidden;
}

.nine {
    visibility: hidden;
}

.nine {
    visibility: hidden;
}

.ten {
    visibility: hidden;
}

.eleven {
    visibility: hidden;
}

.twelve {
    visibility: hidden;
}

.thirteen {
    visibility: hidden;
}

.fourteen {
    visibility: hidden;
}

.fifteen {
    visibility: hidden;
}

.oop {
    visibility: hidden;
}


